<!DOCTYPE html>
<html>
  <head>
    <title>Lehman HW4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>

    <div>
      <% if current_user %>
        <p>Hello <%= current_user.username %></p>  <!-- or .name if you use that -->
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
        <a href="/users/new">Signup</a>
      <% end %>

      <a href="/">Home</a>
    </div>

    <%= yield %>
  </body>
</html>